.MentoringBoard {
    margin-top: 100px;
}

.selectCategory {
    width: 120px;
    height: 30px;
    margin-bottom: 20px;
    border-color: lightblue;
    color: rgb(86, 133, 204);
}

.boardWrite {
    margin-left: 25px;
    width : 80px;
    height : 30px;
    border-radius: 2px;
    border: none;
    background-color: lightblue;
    color: white;
}


.ipSearch {
    margin-left: 20px;
}

.btnSearch {
    border:none;
    padding:3px;
    width: 35px;
    height: 31px;
}



.boardPage {
    margin-top: 5em;
}

.postTitle {
    cursor: pointer ;
}
