.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/* modal창 */
.modalBody {
  position: absolute;
  width: 520px;
  height: 700px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}
 
#modalCloseBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 20px;
}
 
#modalCloseBtn:hover {
  cursor: pointer;
}

.modalWrite {
  font-size: 25px;
}

.modalCategory {
  margin-top: 15px;
  padding: 3px;
  width: 250px;
  margin-right: 22px;
}

.modalTitle {
  margin-top: 10px;
  width: 437px;
  height : 35px;
}

.modalContent {
  margin-top:7px;
  width: 437px;
  height : 260px;
}

.modalSubmit{
      
    border : none;
    width : 120px;
    height : 3em;
    color: white;
    background-color: rgb(32,177,255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    margin-top: 40px;
    margin-left:9em;
}

.modalSubmit:disabled {
  background-color: rgb(180, 214, 235);
  color :white;
}

.modalSubmit:hover {
  transform: scale(1.08);
}

.modalP {
  width: 318px;
  margin-right: 150px;
  margin-top: 17px;
  font-size: 13px;
  color: rgb(134, 134, 134);
}

.modalMento {
  width: 150px;
  margin-left: 1em;
  padding: 3px;
}